<script src="/visualize/index.js"></script>

<h1>Visualize Text</h1>

<div id="sidebar">
  <h3>Bitte geben Sie einen Text ein:</h3>
  <%= form_tag "/visualize/render" do  -%>
    <%= text_area_tag "text", @text_to_render, :id => "text" %>  
    <%= submit_tag "Submit" %>
  <% end -%>
</div> 

<div id="container"></div>


<div id="legende">
  <ul>
    <% Setting.where("name LIKE '%color_of-%'").order(:name).each do |colorbox| %>
      <li style="background-color:rgb(<%= colorbox.value %>);">
        <div class="label">
          <%= colorbox.name.gsub("color_of-", "").gsub("-(r,g,b)","") %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
