<!DOCTYPE html>
<html>
<head>
  <title>TextVisu</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="logo"><%= image_tag "logo.png" %></div>
  <div id="nav">
    <%= link_to "Run Visualization", "/visualize/index", :class => "nav" %>
    <%= link_to "Settings", settings_path(), :class => "nav" %>
  </div>

  <%= yield %>

</body>
</html>
